---
const { variant, text, size, data, filter } = Astro.props;

const filters = ["all", "run-club", "dj", "dinner", "workshop"];
console.log(filters);
---

<button
  class={` ${variant} ${size} ${data} `}
  id={`${filter}`}
  data-filter={`${data}`}
>
  {text}
</button>

<style>
  button {
    padding: 10px;
    font-family: "Fragment Mono", monospace;
    border-radius: 20px;
    text-transform: uppercase;
  }

  .variant_1:hover {
    color: var(--beige);
    background-color: var(--dark-purple);
  }
  .variant_1 {
    background-color: var(--beige);
    border: solid 1px var(--dark-purple);
    color: var(--dark-purple);
  }
  .variant_2:hover {
    background-color: var(--beige);
    color: var(--dark-purple);
  }
  .variant_2 {
    background-color: var(--dark-purple);
    border: solid 1px var(--dark-purple);
    color: var(--beige);
  }
  .variant_3:hover {
    background-color: var(--dark-green);
    color: var(--beige);
    border: solid 1px var(--beige);
  }
  .variant_3 {
    background-color: var(--beige);
    border: solid 1px var(--dark-green);
    color: var(--dark-green);
  }
  .variant_4 {
    background-color: var(--beige);
    border: solid 1px var(--dark-purple);
    color: var(--dark-purple);
  }
</style>
<script></script>
