---
const { variant, text, size, data, filter } = Astro.props;

const filters = ["all", "run-club", "dj", "dinner", "workshop"];
console.log(filters);
---

<div class={` ${filter} ${variant} ${size} ${data} `} data-filter={`${data}`}>
  {text}
</div>

<style>
  div {
    padding: 10px;
    font-family: "Fragment Mono", monospace;
    border-radius: 50px;
    text-transform: uppercase;
    text-align: center;
    font-size: 0.8rem;
  }

  .variant_1:hover {
    color: var(--beige);
    background-color: var(--light-purple);
    border: solid 1px var(--dark-green);
  }
  .variant_1 {
    background-color: var(--dark-green);
    border: solid 1px var(--beige);
    color: var(--beige);
  }
  .variant_2:hover {
    background-color: var(--light-purple);
    color: var(--beige);
    border: solid 1px var(--dark-green);
  }
  .variant_2 {
    background-color: var(--light-purple);
    border: solid 1px var(--dark-purple);
    color: var(--beige);
  }
  .variant_3:hover {
    background-color: var(--dark-green);
    color: var(--beige);
    border: solid 1px var(--beige);
  }
  .variant_3 {
    background-color: var(--dark-green);
    border: solid 1px var(--beige);
    color: var(--beige);
  }
  .variant_4 {
    background-color: var(--beige);
    border: solid 1px var(--dark-green);
    color: var(--dark-green);
  }
</style>
<script></script>
