---
//@ts-nocheck

import ButtonRound from "./ButtonRound.astro";
const { text, product } = Astro.props;

export async function getStaticPaths() {
  const { slug } = Astro.params;

  const fetchURL = `https://ugqyjglpqvlnxrizrviv.supabase.co/rest/v1/events=eq.${slug}&select=event_slug`;

  const response = await fetch(fetchURL, {
    headers: {
      apiKey:
        "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InVncXlqZ2xwcXZsbnhyaXpydml2Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3NDcyOTY1MjgsImV4cCI6MjA2Mjg3MjUyOH0.o34_Vq2MYjWQWAExvv8dp2e5I5p6bE7UNxj3s36Boz0",
    },
  });

  const data = await response.json();

  return { props: { event: data[0] } };
}
---

<a
  href={`/products/${product.event_slug}`}
  data-filter={`${product.event_type}`}
>
  <div class="flex_box">
    <p>{product.event_date}</p>
    <ButtonRound text={product.event_type} variant="variant_4" />
  </div>
  <img src={`/img/${product.event_image}`} alt="placeholder" />
  <h3>{product.event_title}</h3>
  <p>
    {product.event_text}
  </p>

  <ButtonRound text="Read More" variant="variant_1" />
</a>
<style>
  .flex_box {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  p {
    font-size: 0.8rem;
    text-transform: none;
    line-height: 1.4rem;
  }
  h3 {
    font-size: 1.5rem;
  }

  a {
    color: var(--dark-purple);
    gap: 2vh;
    position: relative;
    display: grid;
    grid-template-rows: subgrid;
    grid-row: span 6;
    border: solid 1px var(--light-purple);
    padding: 2vh 4vh 2vh 4vh;
    height: 100%;
    box-sizing: border-box;
    overflow: hidden;
    word-wrap: break-word;
  }
  .hidden {
    display: none;
  }
</style>
