---
const { title, description, images, price } = Astro.props;

import MainLayout from "../../layouts/MainLayout.astro";
---

<MainLayout>
  <section>
    <Image src={images[0]} alt={title} inferSize />
    <article>
      <h1>{title}</h1>
      <p>{description}</p>
      <div>
        <p class="price">{price},-</p>
        <button>Add to basket</button>
      </div>
    </article>
  </section></MainLayout
>
