---
//@ts-nocheck
import MainLayout from "../../layouts/MainLayout.astro";
import ButtonRound from "../../components/ButtonRound.astro";

export async function getStaticPaths() {
  const url = "https://ugqyjglpqvlnxrizrviv.supabase.co/rest/v1/events";
  const key =
    "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InVncXlqZ2xwcXZsbnhyaXpydml2Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3NDcyOTY1MjgsImV4cCI6MjA2Mjg3MjUyOH0.o34_Vq2MYjWQWAExvv8dp2e5I5p6bE7UNxj3s36Boz0";

  const options = { headers: { apikey: key } };
  const data = await fetch(url, options).then((res) => res.json());

  return data.map((event) => ({
    params: { slug: event.event_slug },
    props: { event },
  }));
}

const { event } = Astro.props;
---

<MainLayout title={event.event_title} backgroundClass="background_singel">
  <a href="/events" class="button">
    <ButtonRound text="Back to all events" variant="variant_3" />
  </a>
  <section class="grid_1-1">
    <div class="img_container">
      <img src={`/img/${event.event_image}`} alt={event.event_title} />
    </div>
    <div class="text_box">
      <p class="date">{event.event_date}</p>
      <h1>{event.event_title}</h1>
      <p>{event.event_text}</p>
      <div class="price_time">
        {event.event_price && <p>Price: {event.event_price},- DKK</p>}
        <p>Time: {event.event_time.slice(0, 5)}</p>
      </div>
      <ButtonRound text="Add to calendar" variant="variant_3" />
    </div>
  </section>
</MainLayout>

<style>
  .text_box {
    background-color: var(--dark-green);
    color: var(--beige);
    padding: 5vh;
    box-shadow: 10px 10px var(--light-green);
  }

  .price_time {
    margin: 2vh 0;
  }
  .button {
    display: flex;
  }
  h1 {
    font-size: 2rem;
  }

  .date {
    margin-bottom: -1.5vh;
    font-size: 0.9rem;
  }

  img {
    height: 60vh;
    width: 100%;
    object-fit: cover;
    box-shadow: 10px 10px var(--light-green);
  }

  .grid_1-1 {
    margin: 2vh 0 10vh 0;
    gap: 5vh;
  }

  @media screen and (min-width: 800px) {
    .grid_1-1 {
      display: grid;
      grid-template-columns: 1fr 1fr;
    }
    .text_box {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
    }
    h1 {
      font-size: 3rem;
    }
  }
</style>
